* {
	font-family: 'Arvo', serif;
	
		margin: 0;
		padding: 0;
		
	
}

/* footer */
footer{
  
    bottom: 0;
    left: 0;
    right: 0;
    background: #e74c3c;;
    height: auto;
	width: auto;
    color: #fff;
}
.footer-content{
 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
	margin-top: 20px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
	margin-top: 20px;
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #f02d18;;
    width: 100vw;
  
    text-align: center;
}
.footer-bottom p{

    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
	margin-top: 20px;
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}
      
@media (max-width:400px) {
	.footer-menu ul{
	  
	  margin-top: 10px;
	  margin-bottom: 20px;
	}
	}
/* footer */
 video loop
body {
	margin: 0;
  }
  .sect {
	margin: 100px;
	width: 800px;
	height: 800px;
  }
  #sect1

  #sect1 {
	overflow: hidden;
	
  }
  video {
	margin-top: 150px;
	margin-left: 200px;
	opacity: 70%;
	position: absolute;
	left: 0;
	top: 0;
	height: 1000px;
	width: 1500px;
	z-index: -1;
  }
  h1 {
	margin-top: 0px;
	margin-left: 600px;
	font-family: 'Arvo', serif;
  }

  /* video loop */
 
nav {
	left:70px;
	display: inline-block;
	margin: 20px ;
	margin-left: 650px;
	font-family: 'Arvo', serif;
	position:absolute;
	width: 450px;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
	
}
nav a {

	font-size: 15px;
	margin-top: -50px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: black;
	cursor: pointer;
}
nav .animation {
	left:70px;
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
nav a.active {
	line-height: 50px;
	width: 100px;
	left: 0;
	background-color: #e74c3c;
	border-radius: 8px;
  }
a:nth-child(1) {
	width: 100px;
	line-height: 150px;
}
a:nth-child(2) {
	width: 110px;
	line-height: 150px;
}
a:nth-child(3) {
	width: 100px;
	line-height: 150px;
}
a:nth-child(4) {
	width: 100px;
	line-height: 150px;
}
a:nth-child(5) {
	width: 120px;
	line-height: 150px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #e74c3c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #e74c3c;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 90px;
	left: 320px;
	background-color: #e74c3c;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #ffffff;
	margin: 0px;
}


p {

    bottom: 20px;
    width: 100%;
    text-align: center;
    color: black;
	font-family: 'Arvo', serif;
    font-size: 16px;
}

